extends layout

block content
    .container
        h1=title
        h3 People who participate
        ul.list-group
            each name, i in names
                li.list-group-item= name
        br
        if user
            a.btn.btn-primary(href='/sport/add_score/'+title) Add #{title} score
        else